.header{
	grid-area: header;
	background-color: white;
	border-bottom: 1px outset #FFFAFA;
}
.top{
	grid-area: tops;
	background-color: white;
}
.navigation{
	grid-area: navigation;
	background-color: green;
}
.menu{
	grid-area: menu;
	background-color: blue;
}
.content{
	grid-area: content1;
	background-color: yellow;
}
.about{
	grid-area: about;
	background-color: orange;
}
.bot{
	grid-area: bot;
	background-color: pink;
}
.footer{
	grid-area: footer;
	background-color: gray;
}
.grid-container{
	display: grid;
	grid-template-areas: 
		'header header header header'
		'tops tops tops tops'
		'navigation navigation navigation navigation'
		'menu content1 content1 content1'
		'about about about about'
		'bot bot bot bot'
		'footer footer footer footer';
}
.flex-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.headerLeft{
	background-color: white;
	height: 30px;
}
.headerRight{
	background-color: white;
	height: 30px;
}
